
.portfolio-wrapper {
  width: 100%;
  margin-top: 40px;
}

.filter-menu {
  display: flex;
  gap: 25px;
  justify-content: center;
  color: #555;
  margin-bottom: 30px;
  font-size: 15px;
}

.filter-menu span {
  cursor: pointer;
  transition: 0.2s;
}

.filter-menu .active {
  font-weight: 700;
  color: #000;
}


.portfolio-grid {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-bottom: 45px;
}

.portfolio-card {
  background: white;
  width: 350px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.12);
}

.card-info {
  padding: 15px 18px;
}

.category {
  font-size: 12px;
  color: #777;
}

.info-row {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}

.title {
  font-size: 15px;
  font-weight: 600;
}

.year {
  font-size: 14px;
  color: #444;
}


.portfolio-center-btn {
  text-align: center;
  margin: 25px 0 60px;
}

.btn-portfolio {
  padding: 10px 28px;
  border-radius: 26px;
  border: 1px solid #333;
  background: white;
  cursor: pointer;
  transition: 0.2s;
}

.btn-portfolio:hover {
  background: #000;
  color: #fff;
}


.about-container {
  display: flex;
  justify-content: center;  
  align-items: center;      
  gap: 70px;
  width: 100%;
  max-width: 1100px;         
  margin: 0 auto 80px auto;  
}

.about-img img {
  border-radius: 12px;
}

.about-text {
  max-width: 500px;
}

.about-small {
  font-size: 18px;
  font-weight: 600;
}

.about-title {
  font-size: 50px;
  letter-spacing: 3px;
  font-weight: 700;
  color: #bfbfbf;
  margin: 5px 0 20px;
}

.about-desc {
  line-height: 1.6;
  color: #444;
  margin-bottom: 20px;
}

.btn-cv {
  padding: 7px 22px;
  background: #000;
  color: #fff;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}
