.readme-section {
  width: 100%;
  max-width: 1100px;
  margin: 60px auto;
  text-align: center;
}


.readme-title {
  font-size: 28px;
  font-weight: 700;
}

.readme-subtitle {
  margin-top: 5px;
  font-size: 14px;
  color: #6a6a6a;
}


.readme-grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 28px;
}


.readme-card {
  background: white;
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.1);
  padding-bottom: 18px;
}

.readme-img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.readme-card-title {
  font-size: 18px;
  margin-top: 15px;
  font-weight: 700;
}

.readme-card-text {
  font-size: 14px;
  color: #666;
  padding: 0 25px;
  margin-top: 8px;
  line-height: 1.4;
}


.readme-card-footer {
  margin-top: 15px;
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.detail-btn {
  background: #000;
  color: #fff;
  border: none;
  padding: 7px 18px;
  border-radius: 18px;
  font-size: 12px;
  cursor: pointer;
  transition: 0.2s ease;
}

.detail-btn:hover {
  background: #444;
}


.user-info {
  display: flex;
  align-items: center;
  gap: 6px;
}

.user-avatar {
  border-radius: 50%;
}

.user-name {
  font-size: 12px;
}


.readme-center-btn {
  margin-top: 35px;
}

.readme-btn {
  background: white;
  border: 1px solid #000;
  padding: 10px 30px;
  border-radius: 18px;
  cursor: pointer;
  transition: 0.25s;
}

.readme-btn:hover {
  background: #000;
  color: #fff;
}
