.todo-container {
  max-width: 400px;
  margin: 60px auto;
  padding: 20px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.todo-input {
  display: flex;
  gap: 10px;
}

.todo-input input {
  flex: 1;
  padding: 8px;
}

.todo-input button {
  padding: 8px 14px;
  cursor: pointer;
}

ul {
  margin-top: 20px;
  padding: 0;
  list-style: none;
}

li {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  border-bottom: 1px solid #eee;
}

li span {
  cursor: pointer;
}

li.done span {
  text-decoration: line-through;
  color: gray;
}

.edit{
  margin-left: auto;
  padding-right: 12px;
}