.portfolio-wrapper {
  width: 100%;
  margin-top: 40px;
  width: 1400px;
}

.filter-menu {
  display: flex;
  gap: 25px;
  justify-content: center;
  color: #555;
  margin-bottom: 30px;
  font-size: 15px;
}

.filter-menu span {
  cursor: pointer;
  transition: 0.2s;
}

.filter-menu .active {
  font-weight: 700;
  color: #000;
}

.portfolio-grid {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-bottom: 45px;
}

.portfolio-card {
  display: flex;
  flex-direction: column;
  background: #fff;
  width: 400px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.12);
}

.card-info {
  padding: 16px 18px;
  bottom: 0;
  width: 100%;
}

.category {
  font-size: 12px;
  color: #777;
  opacity: 0.6;
}

.info-row {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
  align-items: center;
}

.title {
  font-size: 15px;
  font-weight: 600;
}

.year {
  font-size: 14px;
  color: #444;
}

.portfolio-center-btn {
  text-align: center;
  margin: 25px 0 60px;
}

.btn-portfolio {
  padding: 10px 28px;
  border-radius: 26px;
  border: 1px solid #333;
  background: white;
  cursor: pointer;
  transition: 0.2s;
}

.btn-portfolio:hover {
  background: #000;
  color: #fff;
}

.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto 80px auto;
}

.about-img img {
  border-radius: 12px;
}

.card-photo {
  width: 100%;
  height: 267px;
  display: flex;
  align-items: center;
  /* CANH GIỮA ẢNH */
  justify-content: center;
}

.card-photo img {
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;
  /* ⬅️ QUAN TRỌNG */
}

.card-photo1 {
  background: linear-gradient(to right, #1C4D70, #46B9DD);
}

.card-photo2 {
  background: linear-gradient(to right, #9F0E42, #E21A1A);
}

.card-photo3 {
  background-color: #1D444D;
}

.about-text {
  max-width: 500px;
}

.about-small {
  font-size: 18px;
  font-weight: 600;
}

.about-title {
  font-size: 50px;
  letter-spacing: 3px;
  font-weight: 700;
  color: #bfbfbf;
  margin: 5px 0 20px;
}

.about-desc {
  line-height: 1.6;
  color: #444;
  margin-bottom: 20px;
  text-align: justify;
}

.btn-cv {
  padding: 7px 22px;
  background: #000;
  color: #fff;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}