.testimonial-section {
  width: 1400px;
  max-width: 100%;
  margin: 70px 0;
  text-align: center;
  position: relative;
}


.testimonial-box {
  background: #3c3c3c;
  padding: 40px 100px;
  color: white;
  position: relative;
}


.testimonial-text {
  max-width: 750px;
  margin: 0 auto;
  line-height: 1.5;
  font-size: 14px;
}


.testimonial-avatar {
  position: absolute;
  left: 50%;
  top: 100px;
  transform: translateX(-50%);

}

.testimonial-avatar img {
  border-radius: 50%;
  border: 5px solid white;
  background: #433981;
}


.testimonial-info {
  margin-top: 70px;
}

.testimonial-name {
  font-size: 14px;
  margin-bottom: 2px;
  font-weight: 700;
}

.testimonial-role {
  font-size: 11px;
  color: #7a7a7a;
  margin-bottom: 5px;
}


.testimonial-stars {
  display: flex;
  justify-content: center;
  gap: 3px;
  margin-top: 3px;
}
